server:
  port: 8081

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  datasource:
    dynamic:
      primary: operation_db

      strict: false

      datasource:
        operation_db:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://mysql-dev.12xue.com:3306/operation_db?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
          username: root
          password: rjgrid

        k12:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://mysql-dev.12xue.com:3306/k12?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
          username: root
          password: rjgrid

        uia:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://mysql-dev.12xue.com:3306/uia?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
          username: root
          password: rjgrid
      druid:
        initial-size: 5
        min-idle: 5
        max-active: 20
        max-wait: 60000
        time-between-eviction-runs-millis: 60000
        min-evictable-idle-time-millis: 300000
        validation-query: SELECT 1 FROM DUAL
        test-while-idle: true
        test-on-borrow: false
        test-on-return: false
        # 可能会遇到 wall 过滤器拦截问题，如果报错去掉 wall 即可
        filters: stat,wall

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

# MyBatis-Plus
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0